* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("./test2.jpg");
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-bottom: 4px solid #bfaf9b
}

nav {
  height: 100%;
  margin-bottom: 20px;

}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: 87%;
}

.tabs>li {
  list-style: none;
  height: 100%;
  width: 80px;
  text-align: center;
  background-color: orange;
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 8px;
  font-weight: bold;
}

#content {
  max-width: 810px;
  flex: 1 1;
  min-height: 510px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.image,
img {
  width: 100%;
  border-radius: 5px;
}

img {
  border: 2px solid black;

}

.menu>p {
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-flow: row;
  height: 100%;
  width: 100%;
  row-gap: 10px;
  column-gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

.card>p {
  margin-top: 5px;
  font-weight: bold;
}

li {
  list-style: none;
  font-weight: bold;
}

li>p {
  margin-top: 5px;
  font-weight: 500;
}